<div class="cards">
  <ng-container *ngFor="let categorie of categories">
    <a id="{{categorie.titre}}" class="titre">{{categorie.titre}}</a>
    
    <ng-container *ngFor="let data of datas[categorie.titre]">
      <mat-card class="card">
        <mat-card-header>
          {{data.titre}}
        </mat-card-header>
        <mat-card-content>
          {{data.description}}
          <br>
          {{data.date_debut | datePipe: "MM yyyy"}} - {{data.date_fin | datePipe: "MM yyyy"}}
        </mat-card-content>
      </mat-card>
    </ng-container>


  </ng-container>
</div>